.flamegraph-tag {
    position:absolute;
    display: block;
    pointer-events: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px;
    line-height: 1.5;
    padding: 0 0 0;
    font-weight: 400;
    font-family: var(--vscode-font-family);
    color: black;
    text-align: left;
}

.details {
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    margin: 0px;
    font-family: var(--vscode-font-family);
    font-style: oblique;
    color: var(--vscode-editor-foreground);
}